body
{
    font-family: 'Satisfy', cursive;
    height:2000px;
}
.table
{
    display:table;
    width:100%;
    height:100%;
}
.table-cell
{
    
    width:100%;
    height: 100%;
    display:table-cell;
    vertical-align: middle;
}
a:hover{
    text-decoration: none;
}
img
{
    max-width: 100%;
}
.title
{
    margin-bottom:20px;
}
.title h1{
color:#127a81;
font-weight: bold;
}
.title .border
{
    width:50px;
    height:3px;
    background-color: #127a81;
    margin: 20px auto 0px auto;
}
/*START NAVBAR*/
.navbar
{
background-color:#fff;
border:0px;
border-radius: 0px;
box-shadow: 1px 1px 10px rgba(0,0,0,0.46);
margin:0px;
}
.navbar-brand
{
    padding:30px 15px;
}
.navbar-nav>li>a
{
    padding-top:30px;
    padding-bottom:30px;
}
.navbar-default .navbar-nav>li>a
{
    color:#127a81;
}
.navbar-default .navbar-nav>li>a:hover
{
    color:#52dae4;
}
.navbar-default .navbar-brand
{
    color:#127a81;  
}
/************************************************************************************************************************/

/*START HERO SECTION*/
.hero
{
    background: url('../images/img1.jpg') fixed;
    background-size: cover;
    background-position: center center;
}
.overlay
{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
}
.welcome
{
    height:500px;
}
.welcome h1
{
    font-weight: 700px;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    font-size:50px;
    margin-bottom: 50px;
}
.welcome a
{
    background-color:#127a81 ;
    color:#fff;
    font-size:16px;
    padding:15px 20px;
    border-radius: 5px;
}

/***STRAT SERVICES SECTION****/
.s_item
{
border-right: 1px solid #ddd;
padding:20px;
}
.s_item:first-child
{
    border-left:1px solid #ddd;
}
.s_item .s_icon
{
color:#999;
font-size: 30px;
margin-bottom: 20px;
}
.s_item h4{
color:#999;
}
.s_item p{
color:#999;
line-height: 20px;
}
/*START SECTION ABOUT*/
.about
{
    background: url('../images/img1.jpg') fixed;
    background-size: cover;
    background-position: center center;
}
.inner-about
{
    background-color: #fff;
    padding:20px;
    border-radius: 5px;
    margin:50px 0;
}
.inner-about p
{
    color:#999;
    line-height: 30px;
    text-align: justify;
}

/*WORK SECTION*/
.work
{
    margin: 50px 0;
}
.w_item
{
    margin-bottom: 20px;
}

/*CONTACT SECTION*/
.contact input,textarea
{
margin-bottom: 20px;
}

/*FOOTER*/
.footer{
    background-color:#fff;
    padding:40px 0;
}
.footer p{
    color:#666;
    font-size:16px;
}
.footer a{
    color:#127a81;
    margin-right:10px;
}
.footer a:hover{
    color:#52dae4;
}
.footer a i{
    font-size:20px;
}